html {
    background-color : #233047;
}
body {
    padding : 0;
    margin: auto;
    text-align: center;
}
h1, h3 {
    font-family: 'Josefin Sans', sans-serif;
    color : white;
}
h2, h4, p {
    font-family: 'Josefin Sans', sans-serif;
    color : white;
    text-align :left;
}
.small_spacer {
    padding : 20px;
}
.tabs_container {
    margin: auto;
    text-align: center;
}
.tabs_button {
    text-decoration : none;
    border-width : 0;
    font-family: 'Josefin Sans', sans-serif;
    border : none;
    border-radius: 5px;
    outline: none;
    color : white;
    margin : 2px;
    padding : 1vw;
    opacity : 0.6;
    font-size : 18px;
    border-style: solid;
    background-color: rgba(0, 0, 0, 0.2);
    transition : background-color 0.4s, opacity 0.4s, transform 0.4s;

}   
.tabs_button:hover {
    background-color: rgba(0, 0, 0, 0.3);
    opacity : 1;
    transform: scale(1.05, 1.05);
}
.tabs_text {
    font-size : 16px;
}
.tab_content {
    opacity : 0.7;
    visibility : hidden;
    display : none;
}
.header_divider {
    width : 140px;
    height : 4px;
    border-radius:4px;
    margin : auto;
    opacity : 0.8;
    background-color : white;
}
.header_divider::before {
    right : 66px;
    position: relative;
    content : "";
    display: inline-block;
    width : 10px;
    height : 10px;
    background-color : white;
    border-radius: 50%;
    transform: translateY(-6.5px);
}
.header_divider::after {
    left : 66px;
    position: relative;
    display: inline-block;
    content : "";
    width : 10px;
    height : 10px;
    background-color : white;
    border-radius: 50%;
    transform: translateY(-6.5px);
}
.notes {
    width: 100%;
	height: 300px;
    resize: none;
    border-radius : 10px;
    border: 2px solid white;
    background: none;
    outline: none;
    padding : 15px;
    color : white;
    font-size : 16px;
}
.display_center {
    display: inline-block;
    margin: 0;
    text-align: left;
    border: 2px solid white;
    border-radius: 10px;
    padding : 15px;
    color: white;
    font-size : 16px;
    width: 40%;
    height: 400px;
    font-family: 'Josefin Sans', sans-serif;
}
.file_system {
    border: 2px solid white;
    padding: 15px;
    border-radius: 10px;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    width: 20%;
    height: 400px;
}
.tab_heading {
    text-align : center;
}
.file_button {
    display : block;
    font-family: 'Josefin Sans', sans-serif;
    background: none;
    color: white;
    border: none;
    outline: none;
    transition: background 0.2s;
    font-size: 16px;
    padding: 8px;
    border-radius: 5px;

}
.file_button:hover {
    background: rgba(145, 145, 145, 0.2);
}
.file_button:active {
    background: rgba(95, 95, 95, 0.2);
}
.submit_text {
    font-family: 'Josefin Sans', sans-serif;
    resize: none;
    border-radius : 10px;
    border: 2px solid white;
    background: none;
    outline: none;
    padding : 10px;
    color : white;
    font-size : 16px;
    width: 40%;
    margin : 10px;
}
.submit_button {
    margin: 10px;
    border-radius : 10px;
    border: 2px solid white;
    font-family: 'Josefin Sans', sans-serif;
    background : none;
    outline: none;
    padding : 10px;
    color : white;
    font-size : 16px;
    opacity : 0.6;
    background-color: rgba(0, 0, 0, 0.1);
    transition : background-color 0.4s, opacity 0.4s;
}
.submit_button:hover {
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
}
.submit_button:active {
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 1;
}